html {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

body {
    padding: 10px 20px;
    margin: 0px;
    height: 100%;
    background-color: #fff;
}

div.container {
    height: 100%;
}

div#map {
    padding: 0px;
    margin: 0px;
    height: 100%;
    border: 1px solid #4F6F2D;
}

div.circle {
    background-color: #4F6F2D;
}