html {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

body {
    padding: 10px 20px;
    margin: 0px;
    height: 100%;
    background-color: #fff;
}

h1 {
    color: #4F6F2D !important;
}

div.container {
    height: 100%;
}

div#map {
    padding: 0px;
    margin: 0px;
    height: 100%;
    border: 1px solid #4F6F2D;
}

div#scale {
    /*height: 150px;*/
}

div.scale {
    padding: 0px 0px 10px 0px;
}

div.circle {
    margin: 0px auto;
    /*background-color: #4F6F2D*/;
    background-color: #809868;
}

div.vmiddle {
    vertical-align: middle;
    height: 100px;
}